@import "../styles/_layout.scss";
@import "../styles/_toast.scss";
@import "../styles/_modal.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  background: $background-color;
  color: $text-color;
  height: 100%;
}

.hidden {
  display: none !important;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: $font-size-base;
}
button {
  cursor: pointer;
  border-radius: $border-radius;
  background: $button-color;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  &:hover {
    background: darken($button-color, 5%);
  }
}
